*::before,
*::after,
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
} */

:root {
    --sidebar-width: 30%;
    --primary-color: #eee;
  --secondary-color: #333131;
}

body {
    background-color: #ffffff;
}


.container {
    display: flex;
			flex-direction: row;
			height: 100vh;
}

.sidebar {
    flex-basis: 30%;
			padding: 20px;
			background-color: #ddd;
}

.mainbar {
    /* background-color: #000; */
    flex-basis: 70%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #14bdac;
}

.board {
    position: relative;
    margin: auto;
    /* margin-top: 15%; */
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    display: grid;
    
}

.cell {
    width: 200px;
    height: 200px;
    border: 7px solid #989797;
    background: #14bdac;
    color: var(--secondary-color);
    font-size: 4rem;
    display: flex;
    place-content: center;
    cursor: pointer;
}

.cell.x,
.cell.o {
    cursor: not-allowed;
    
}

.cell:first-child,
:nth-child(2),
 :nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:last-child,
:nth-child(8),
 :nth-child(7) {
    border-bottom: none;
}

h1 {
    background-color: white;
    display: block;
    line-height: 2.5rem;
    color: #006666;
    text-align: center;
}

h1::before {
    content: "";
    background-color: #006666;
    display: inline-block;
    position: absolute;
    left: 0;
    height: 4px;
    width: 100vw;
}

h1::after {
    content: "";
    background-color: #006666;
    display: inline-block;
    position: absolute;
    top: 36px;
    left: 0;
    height: 4px;
    width: 100vw;
}

/* .newGame,
.connectBtn {
    display: block;
    margin: 15px auto;
    height: 30px;
    color: white;
    background-color: var(--primary-color);
} */

.joinLabel {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    height: 30px;
    font-size: 1.4rem;
    background-color: #dfecec;
}

.sidebar ul {
    /* list-style: none; */
    list-style: none;
			padding: 0;
			margin: 0 0 20px;
}

.sidebar ul li {
    margin: 0 auto;
    padding: 5px;
    height: 30px;
    /* font-size: 1.4rem; */
    background-color: #dfecec;
    text-align: center;

}
input {
    display: block;
    width: 96%;
    margin: 0 0 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.sidebar ul li:hover {
    background-color: #000000;
}

button {
    display: block;
			width: 100%;
			margin: 0 0 10px;
			padding: 10px;
			border: none;
			background-color: #aaa;
			color: #fff;
			font-size: 16px;
			cursor: pointer;
}

.board.x .cell:not(.x):not(.o):hover::before,
.cell.x::before {
    margin-top: 10px;

    content: "";
    position: absolute;
    height: 180px;
    width: 13px;
    background-color: #3d3d3e;
    transform: rotate(45deg);
}

.board.x .cell:not(.x):not(.o):hover::after,
.cell.x::after {
    margin-top: 10px;
    content: "";
    position: absolute;
    height: 180px;
    width: 13px;
    background-color: #3d3d3e;
    transform: rotate(-45deg);
}

.board.o .cell:not(.x):not(.o):hover::before,
.cell.o::before {
    margin-top: 10px;

    content: '';
    position: absolute;
    height:160px;
    width: 160px;
    background-color: #fffffff3;
    /* transform: rotate(45deg); */
    border-radius: 50%;
    /* display: inline-block; */
}

.board.o .cell:not(.x):not(.o):hover::after,
.cell.o::after {
    margin-top: 26.5px;
    content: "";
    position: absolute;
    height: 128px;
    width: 128px;
    background-color: #14bdac;
    border-radius: 50%;
}

.board.o .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.x .cell:not(.x):not(.o):hover::before {
    background-color: #94b8b8;
}